<h1> Please choose your login type </h1>


<%= link_to "Parent Login", login_parent_login_path%>
<%= link_to "Teacher Login", login_teacher_login_path%>
<%= link_to "Student Login", login_student_login_path%>
